.idea
.settings
*.iml
**/target/*
**/uploadedfile/*
target/*
*.ipr
*.iws
.DS_Store
*.class
*.log
*.log.2012.*
*.out
*.out.*
**/data/files/tmp/*
stax2.jar
wstx-asl.jar
migrationTmp/
**/tmp/generated-sources/*
**/csv_source/*
